.template_default{float:left;width:14px;height:14px;margin-left:4px;margin-top:6px;border:1px solid #ffffff;background:#61AFB9;}
.template_deepblue{float:left;width:14px;height:14px;margin-left:4px;margin-top:6px;border:1px solid #ffffff;background:#52596B;}



