*{margin:0;padding:0;}
html,body,h1,h2,h3,h4,h5,h6,p,ol,ul,li,pre,code,address,variable,form,fieldset,blockquote {
	padding:0;
	margin:0;
	font-size:12px;
	font-weight:normal;
	font-family:"宋体";
	color:#3e4a61;
}
ul,li{list-style:none;}
dl,dd,dt{margin:0;padding:0;}
a{ color:#444444; text-decoration:none;}
a:hover{ text-decoration:underline;}
img,input{ vertical-align:middle;border:none;}
.clean{ clear:both;}
.left{ float:left;}
.right{ float:right;}
.hidden{ display:none;}

.wrapper{
	width:1200px; margin:0 auto;
}
.wrapper2{
	width:1200px; margin:0 auto;position: relative;
}

/*----------------------头部css------------------------------------*/
.loginbg{height:36px; background:url(topbg.png) repeat-x; color:#8A8A8A; line-height:36px;font-size:12px; font-family:"Microsoft YaHei";}
.loginbg a{color:#8A8A8A;font-size:12px;}

.loginleft{width:260px; float:left;}
.loginright{width:140px; float:right;}

.logo{width:320px;height:103px; float:left;}
.search{width:381px;padding:30px 0px 0px 80px; float:left;}
.search_green{width:332px;height:26px;border:solid 1px #00A93C;float:left;}
.search_green .text{height:24px;line-height:24px;}
.searchbtn{width:46px;height:28px; float:left;}
.searchbottom{line-height:27px; float:left; color:#8B8A8A;width:381px;font-family:"Microsoft YaHei";}

.service{width:315px;padding:30px 0px 0px 104px;float:left;color:#8A8A8A;font-size:12px; font-family:"Microsoft YaHei";height:38px;}
.service a{color:#8A8A8A;}
.hottel{width:108px;line-height:38px;background:url(icon_tel.png) no-repeat left center;float:left;}
.hottel span{padding-left:28px;}
.online{width:108px;line-height:38px;background:url(icon_service.png) no-repeat left center;float:left;}
.online span{padding-left:28px;}

.shopping{width:99px;line-height:38px; background:url(shoppingbg.png) no-repeat center;float:left;}
.number{height:16px;background:#FF3C00;padding:0px 5px;line-height:16px;font-family:"Microsoft YaHei";font-size:12px;color:#FFFFFF;top:30px;left:1130px;z-index:1;width:8px; position: absolute;}
.shopping span{padding-left:48px;}

.mainbav{height:40px; background:#00A93C;}
.goods{width:194px;height:40px; background:url(goods.png) no-repeat; float:left;}
.goods span{ padding-left:58px;font-size:16px;font-family:"Microsoft YaHei"; font-weight:bold; color:#FFF;line-height:38px;}
.column1{width:75px;float:left;color:#FFFFFF;font-family:"Microsoft YaHei";font-size:14px;line-height:40px; background:url(icon_home.png) no-repeat;margin-left:48px; text-indent:22px;}
.column1 a{color:#FFFFFF;}
.column2{width:86px;float:left;color:#FFFFFF;font-family:"Microsoft YaHei";font-size:14px;line-height:40px; text-align:center;}
.column2 a{color:#FFFFFF;}
.new{width:29px;height:30px; float:left;}

/*----------------------内容区css------------------------------------*/
.leftsidebar{padding-top:23px;width:193px;}
.leftsidebar1{height:37px;color:#444444;font-size:14px;}
.leftsidebar1 a{color:#444444;font-size:14px;}
.leftsidebar1 .icon{padding-left:24px;width:11px;padding-top:13px;height:11px; float:left;}
.leftsidebar1 .right{line-height:37px;float:left;padding-left:20px;}
.leftsidebar2{height:37px;color:#00A93C;font-size:14px;line-height:37px;text-indent:55px;}
.leftsidebar2 a{height:37px;color:#00A93C;font-size:14px;}
.leftsidebar2 a:hover{display:block;color:#8A8A8A;background:#F0F0F0;text-decoration:none;}

.rightbar{height:66px;border:solid 1px #D4D4D4;border-width:0px 0px 1px 0px;}
.rightbar2{margin-left:48px; background:url(icon1.png) no-repeat; text-indent:35px;font-size:14px;line-height:66px;}

.rightmember{padding:40px 0px 0px 0px;width:893px;margin:0px auto;}
.rightmember .leftperson{width:120px;padding-right:24px; float:left;}
.rightmember h3{font-weight:normal;font-style:normal;font-size:14px; text-align:center;line-height:40px;}
.rightmember .rightinfo{ float:left;line-height:35px;font-size:14px;}
.rightmember .rightinfo ul{padding-top:20px;}
.rightmember .rightinfo li{width:132px; line-height:28px; text-align:center;margin-right:10px; background:#F4F7EB; display:block; float:left;height:28px;font-size:14px;}
.rightmember .rightinfo li a{font-size:14px;}

#tab{position:relative;}
#tab .tabList ul li{
	float:left;
	background:#fefefe;
	background:-moz-linear-gradient(top, #fefefe, #ededed);	
	background:-o-linear-gradient(left top,left bottom, from(#fefefe), to(#ededed));
	background:-webkit-gradient(linear,left top,left bottom, from(#fefefe), to(#ededed));
	border:1px solid #ccc;
	padding:5px 0;
	width:100px;
	text-align:center;
	margin-left:-1px;
	position:relative;
	cursor:pointer;
	font-size:14px;
	line-height:25px;
}
#tab .tabCon{
	position:absolute;
	left:-1px;
	top:38px;
	border-top:none;
	width:893px;
	height:100px;
}
#tab .tabCon div{
	padding:10px;
	position:absolute;
	opacity:0;
	filter:alpha(opacity=0);
}
#tab .tabList li.cur{
	border-bottom:none;
	background:#fff;
}
#tab .tabCon div.cur{
	opacity:1;
	filter:alpha(opacity=100);
}
#tab .tabCon dl{width:200px; float:left;}
#tab .tabCon dd{width:180px;margin:0px auto;}
#tab .tabCon dt{width:180px;margin:0px auto;line-height:26px;color:#8B8A8A;}
#tab .tabCon h3{font-size:16px;font-family:"Microsoft YaHei";color:#ff3c00; font-weight:normal; font-style:normal; text-align:left;}

/*----------------------footer css------------------------------------*/
.footerline{height:35px; background:url(bottomline.png) repeat-x;}
.footerleft{width:192px; border:solid 2px #EFEFEF;border-width:0px 2px 0px 0px; float:left;}
.footerleft .cont{width:100px;margin:0px auto; text-align:center;line-height:32px;font-size:14px;color:#0F671E;}
.footerleft .cont a{font-size:14px;color:#0F671E;}
.footerright{width:150px; float:left; text-align:center;font-size:15px;font-family:"Microsoft YaHei";line-height:45px;}

/*----------------------购物车css------------------------------------*/
.step{width:600px; float:right;padding-top:26px;}
.step1{width:49px; float:left;}
.steptext{width:110px; float:left; line-height:25px;padding-left:5px;}
.steptext .grey{color:#C1C1C1;}
.steptext .green{color:#8CC540;font-size:14px;font-weight:bold;}
.steptext .orange{color:#FF9700;font-size:14px;font-weight:bold;}
.steptext .grey2{color:#929292;font-size:14px;font-weight:bold;}
.angle{width:40px;height:49px; background:url(angle.png) no-repeat;padding-right:10px; float:left;}

.shoppingcart{padding-top:15px;}
.shoppingcart .lefttext{width:120px; float:left;font-size:18px;font-family:"Microsoft YaHei";line-height:47px; text-indent:5px;}
.shoppingcart .righttext{width:270px; float:right;line-height:47px;font-size:14px;}
.shoppingcart .righttext a{font-size:14px;color:#FF3C00;}

.contgreybg{height:46px; background:#F7F7F7; border:1px solid #D5D5D5;border-width:1px 0px; float:left;width:1114px;line-height:46px;padding:0px 43px;font-size:14px;}

.productlist{}
.productlist ul{}
.productlist li{padding:23px 43px; border:dashed 1px #CFCFCF;border-width:0px 0px 1px 0px;}
.productlist li .a1{width:40px; float:left;padding-top:20px;}
.productlist li .a2{width:100px; float:left;}
.productlist li .a3{width:350px; float:left;font-size:14px;line-height:26px;}
.productlist li .a4{width:155px; float:left;font-size:24px;font-family:"Microsoft YaHei";font-weight:bold; text-align:center;line-height:50px;}
.productlist li .a5{width:80px; float:left;padding:15px 20px 0px 50px;}
.productlist li .a5 .num{width:50px; float:left;}
.productlist li .a5 input{width:20px;border:1px #B2B2B2 solid;padding:5px 10px;font-size:14px;}
.productlist li .a5 .arrow{width:13px; float:left;padding-top:4px;}
.productlist li .a6{width:120px; float:left;font-size:24px;font-family:"Microsoft YaHei";font-weight:bold; text-align:center;color:#ff3c00;line-height:50px;}
.productlist li .a7{width:100px;font-size:14px; float:left;line-height:40px; text-align:center;}
.productlist li .a8{width:70px;font-size:14px; float:left;line-height:25px; text-align:right;}

.productbottom{width:1114px;padding:30px 43px 40px 43px;font-size:14px;}
.productbottom .f18{font-size:18px;font-family:"Microsoft YaHei";}
.productbottom td{padding:5px 0px;}

.producttab{padding-bottom:70px;}
.producttab ul{}
.producttab li{width:240px; float:left;}

.producttab2{}
.producttab2 .title{height:47px;line-height:45px;font-size:16px;font-family:"Microsoft YaHei"; display:block; background:url(tab_grey.png) no-repeat; text-align:center;width:20%; float:left;}
.producttab2 .title a{height:47px;font-size:16px;font-family:"Microsoft YaHei"; display:block; background:url(tab_grey.png) no-repeat;}
.producttab2 .title a:hover{height:47px;display:block; background:url(tab_red.png) no-repeat;font-size:16px;font-family:"Microsoft YaHei"; text-decoration:none;}

.producttab dl{width:180px;margin:20px auto;}
.producttab dd{width:180px;}
.producttab dt{width:180px;line-height:26px;color:#8B8A8A;}
.producttab .pricenew{font-size:16px;font-family:"Microsoft YaHei";color:#ff3c00; font-weight:normal; font-style:normal; text-align:left;}
.producttab .priceold{font-size:14px;font-family:"Microsoft YaHei";font-weight:normal; font-style:normal; text-align:rihgt; text-decoration:line-through;color:#8B8A8A;}

.producttab .btn_jrgwc{width:91px;margin:0px auto;}