@charset "utf-8";/* CSS Document */

html,body,form,img,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,b,u,i,p,em,td,th,input,textarea,label,select,iframe{ font-family:"微软雅黑";font-size:12px;color:#333;padding:0;margin:0;}
body{background:url(../images/topbg.gif) left top repeat-x;}
img{font-size:12px;vertical-align:middle;}
input{outline: none;}
td{ font-family:Arial}
table{border-collapse:collapse;border-spacing:0;}
ul, li{vertical-align:bottom;padding:0; margin:0;}
em, i{font-style:normal;}
li{list-style: none;}
ol{list-style-type: none;list-style: none;}
dd{margin-left:0;}
a img{border:0;}
h1{font-size:20px; color:#444444; line-height:40px;font-family:"Microsoft YaHei"; }
h2, h3{font-size:14px;font-family:"Microsoft YaHei";}
h4, h5, h6{font-size:12px;}
/* 去除链接元素的虚线框 */
a{color:#666; text-decoration:none;outline:none;}
a:hover{color:#ff3c00; text-decoration:underline;}
.ft20{font-size:20px; color:#444444; line-height:40px; }

/*浮动*/
.fl{float:left !important;display:inline;}
.fr{ float:right; display:inline;}
/*清除浮动*/
.cf:before, .cf:after{content:"";display:table;}
.cf:after{clear:both;}
.cf{zoom:1;}
.clear{clear:both;}
.grenn{ color:#088000}
/* box */
.box1200{ width:1200px; margin:0px auto;}
.box988{ width:988px; margin:0px auto;}
.box194{ width:194px;}
.box990{ width:990px; }
.box150{ width:150px;}
.box820{ width:820px;}

/*空白*/
.blank5,.blank10,.blank15,.blank20,.blank25,.blank30,.blank40{display: block;overflow: hidden;clear: both;}
.blank5{height:5px;}
.blank10{height:10px;}
.blank15{height:15px;}
.blank20{height:20px;}
.blank25{ height:25px;}
.blank30{height:30px;}
.blank40{ height:40px;}

/* Margin */
.m0{ margin:0px!important;}

.mt3{margin-top:3px !important;}
.mt5{ margin-top:5px;}
.mt7{ margin-top:7px;}
.mt10{ margin-top:10px;}
.mt15{ margin-top:15px;}
.mt20{ margin-top:20px;}
.mt25{ margin-top:25px;}
.mt30{ margin-top:30px;}
.mt35{ margin-top:35px;}
.mt40{ margin-top:40px;}
.mt50{ margin-top:50px;}
.mt60{ margin-top:60px;}

.mr5{ margin-right:5px;}
.mr10{ margin-right:10px;}
.mr15{ margin-right:15px;}
.mr20{ margin-right:20px;}
.mr30{ margin-right:30px;}
.mr35{ margin-right:35px;}
.mr40{ margin-right:40px;}
.mr50{ margin-right:50px;}
.mr60{ margin-right:60px;}

.mt0{ margin-top:0px !important;}
.mb0{ margin-bottom:0px !important;}
.mb5{ margin-bottom:5px;}
.mb10{ margin-bottom:10px;}
.mb15{ margin-bottom:15px;}
.ml18{ margin-left:18px;}
.mb20{ margin-bottom:20px;}
.mb30{ margin-bottom:30px;}
.mb35{ margin-bottom:35px;}
.mb40{ margin-bottom:40px;}
.mb50{ margin-bottom:50px;}
.mb60{ margin-bottom:60px;}

.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml13{margin-left:10px;}
.ml15{margin-left:15px;}
.ml17{ margin-left:17px;}
.ml18{ margin-left:18px;}
.ml20{margin-left:20px;}
.ml23{margin-left:23px;}
.ml30{ margin-left:30px;}
.ml35{ margin-left:35px;}
.ml40{ margin-left:40px;}
.ml50{ margin-left:50px;}
.ml60{ margin-left:60px;}
/* Padding */
.p0{ padding:0px !important;}
.pd10{ padding:10px !important;}
.pdl0{ padding-left:0px !important;}
.pdr0{ padding-right:0px !important;}
.pdl15{ padding-left:15px !important;}
.pdr15{ padding-right:15px;}
.pdm10{ padding-bottom:10px !important;}
/*border*/
.b0{ border:0px !important;}
.bdc2{border:2px solid #ff9900 !important;}

.edge{border:1px solid #dcdcdc;}
.top_edge{ border-top:1px solid #dcdcdc;}
.right-edge{border-right:1px solid #dcdcdc;}
.left-edge{ border-bottom:1px solid #dcdcdc;}
.bottom-edge{ border-bottom:1px solid #dcdcdc;}
.das_rb{ border-right:1px  dashed #dcdcdc;border-bottom:1px dashed #dcdcdc;}
.das_b{ border-bottom:1px dashed #dcdcdc !important;}
.das_r{border-right:1px  dashed #dcdcdc;}
/*Color*/
.cleb6100{ color:#ff3c00 !important;}
.clf08b0c{ color:#f08b0c !important;}
.clc6c6c6{ color:#c6c6c6;}
.clff0000{ color:#ff0000 !important;}
.cl999{ color:#999;}
.cl333{ color:#333;}

/*其他页面热销榜*/
.myseatnew{line-height:40px; text-align:left;width:980px;height:40px;padding:0px 0px 0px 10px;clear:both;color:#8a8a8a;}
.myseatnew span{color:#8a8a8a;}
.myseatnew a{color:#8a8a8a;}
.myseatnew a:hover{color:#ff3c00;}

/*热销榜*/
.similar_hot {color:#333;width:192px;border:1px solid #dddddd;float:left;border-top:2px solid #00a93d;}
.similar_hot .title{padding:8px 12px 7px 0px;color:#000;border-bottom:1px dotted #dddddd;font-family:"Microsoft YaHei";font-size:14px; float:left; width:171px; margin-left:10px;}
.similar_hot ul{padding:0px 10px;margin:0px;}
.similar_hot ul li {text-align:center;text-indent:0px;list-style-type:none;list-style-position:outside;color:#333;border-bottom:1px dotted #dddddd;padding:10px 5px;width:165px;line-height:18px;font-weight:bold;}
.similar_hot ul li p{text-align:left;font-weight:100;margin-top:5px;}
.similar_hot ul li a.pic{text-decoration:none;color:#333;}
.similar_hot ul li a{text-decoration:none;color:#333;}
.similar_hot ul li a:hover{text-decoration:underline;color:#f08b0c;}
.similar_hot ul li a.pic img{width:100px;height:100px;}

/*小类列表菜单*/
.listsum{width:172px;border:1px solid #dddddd; padding:10px;border-top:2px solid #659a32;}
.listsum .tit{ width:172px; height:15px;font:400 14px/15px "微软雅黑";color:#000; padding-bottom:10px; border-bottom:1px solid #dddddd}
.listsum .listsum-1{ cursor:pointer;}
.listsum .listsum-1 dt{ height:35px; line-height:35px; padding-left:15px; font-size:12px; color:#333; background:url(list_open.gif)no-repeat 2px 13px;}
.listsum .listhover dt{height:35px; line-height:35px; padding-left:15px; font-size:12px; color:#333; background:url(list_minus.gif) no-repeat 2px 13px; cursor:pointer;}
.listsum .listsum-1 dl dt .on {height:35px; line-height:35px; font-size:12px; color:#ff3c00; text-decoration:none;}
.listsum .listsum-1 dl dt a:hover {color:#ff3c00;}
.listsum .listsum-1 dd{ display:none; padding-left:16px;}
.listsum .listhover dd{ display:block;}
.listsum .listsum-1 dd ul li{ height:22px; line-height:22px; float:left; width:78px; margin:4px 0px; display:inline;}
.listsum .listsum-1 dd ul li a{ height:22px; line-height:22px; padding:0px 4px; display:inline-block; color:#8f8f8f;}
.listsum .listsum-1 dd ul li a:hover,.listsum .listsum-1 dd ul li a.onlinked{height:22px; line-height:22px; padding:0px 4px; display:inline-block; color:#763e02; background-color:#e6ca9a; text-decoration:none;}

/*看过此商品的用户最终购买*/
.looked{ width:172px;border:1px solid #dddddd; padding:10px 10px 0px 10px;border-top:2px solid #659a32;}
.looked .title,.hotbang .title{ width:172px; height:30px; font:400 14px/30px "微软雅黑";color:#000; margin-bottom:5px;border-bottom:1px solid #dddddd}
.looked ul li{ width:172px; height:70px; margin-bottom:10px;}
.looked ul li .lookpic{ width:60px; height:60px; float:left; display:inline-block;}
.looked ul li .lookmis{width:104px; height:60px;text-align:left; float:left; display:inline; margin-left:8px;}
.looked ul li .lookmis p{ color:#a5a5a5;line-height:18px;}
.looked ul li .lookname{height:38px;width:104px; overflow:hidden;}
.looked ul li .lookmis a{color:#333;}
.looked ul li .lookmis a:hover{color:#ff3c00;}

.goodstopr .price_n {font-size: 14px; padding: 4px 0;}
.goodstopr .newprice {color: #333;}
.goodstopr .newprice span { color: #ff3c00; font-family: Arial; font-size:30px;font-weight: bold;}
.goodstopr .oldprice {color: #999;}
.goodstopr .chaprice {color: #333;}

.gdproperty_n {display: inline;float: left;line-height: 32px; margin: 5px 0;width:500px; font-size:14px;}
.gdproperty_n dl { width: 510px;}
.gdproperty_n dl dt {float: left;font-size:14px;}
.gdproperty_n dl dd { float: left; width: 420px;}
.gdproperty_n dl dd ul {width: 420px;font-size:14px;}
.gdproperty_n dl dd ul li {display: inline;    float: left; line-height: 14px;  margin: 0 5px 5px 0; padding: 1px;    position: relative;    vertical-align: middle;font-size:14px;}
.gdproperty_n dl dd ul li span.propondefault{cursor:pointer;border: 1px solid #adadad;color: #333;display: inline-block;    min-width: 10px;padding: 6px 11px;text-align: center;text-decoration: none;white-space: nowrap;ont-size:14px;}
.gdproperty_n dl dd ul li span.proponselect {cursor:pointer;background: url( url(2_10.gif)) no-repeat scroll 100% 14px rgba(0, 0, 0, 0); border: 2px solid #00a93d;color: #333;display: inline-block;min-width: 10px;padding: 5px 10px;text-align: center;text-decoration: none;white-space: nowrap;}
.textgt_n { border: 1px solid #b2b2b2;display: inline; font-size: 14px;height:20px;    line-height: 14px;    margin: 0 2px;padding: 3px;    text-align: center;    width: 22px;}



.goodstopl {width: 350px; padding-left:30px;}
.magnifier {height: 350px;width: 350px; margin-bottom:20px;}
.jqzoom {cursor: pointer;float: left;padding: 0;position: relative;}
.goodstopr .limit .time span { color: #fe8e10;    font-size: 14px; font-weight: bold;
    margin: 0 2px; padding: 0 5px;text-align: center;text-decoration: none;}
element.style {height: 350px;margin-bottom: 0; margin-left: 0;margin-top: 0;overflow: hidden;vertical-align: middle;    width: 350px;}
.pic_small {height: 54px;margin: 10px 0;width: 365px;}
.pic_sl,.pic_sr {background:url(1_03.gif) no-repeat scroll 2px 0px rgba(0, 0, 0, 0);cursor: pointer;display: inline;float: left; height: 54px;width: 19px;}
.pic_sr { background: url(1_05.gif) no-repeat scroll 2px 0px rgba(0, 0, 0, 0);}
.pic_smiddle {display: inline;float: left;height:54px;width: 326px;overflow:hidden;}
.pic_smiddle ul{width: 312px; height: 64px; overflow: hidden;}
.pic_smiddle ul li {display: block;height:50px;width:50px; margin:0px 5px; float:left;}
.pic_default {cursor:pointer;border: 1px solid #dddddd;display: block;margin:0px 5px;}
.pic_select {cursor:pointer;border: 2px solid #ff9900;display: block;margin:0px 5px;}

/*商品推荐*/
.baifenb {float: left;margin-bottom: 20px;width:990px;}
.favorcombcont {border: 1px solid #dddddd;float: left;padding: 0 15px 15px; width: 958px;border-top:2px solid #659a32;}
.favorcombcont .zi {border-bottom: 1px solid #ddd;font-family: 微软雅黑;line-height: 40px; font-size:14px;}
.favorcombcont .fctl {float: left;margin-top: 15px; width:958px;}
.favorcombcont .fctl ul{padding:0px 10px;margin:0px;}
.favorcombcont .fctl ul li {text-align:center;text-indent:0px;list-style-type:none;list-style-position:outside;color:#ff3c00;padding:10px 28px;width:178px;line-height:20px;font-weight:bold; float:left;text-align:left; font-size:16px;}
.favorcombcont .fctl ul li p{text-align:left;font-weight:100;margin-top:5px; padding-bottom:10px;}
.favorcombcont .fctl ul li span{ font-weight:100; font-size:14px; color:#999999;text-decoration: line-through; padding-left:20px;}
.favorcombcont .fctl ul li a.pic{text-decoration:none;color:#333;}
.favorcombcont .fctl ul li a{text-decoration:none;color:#8b8a8a;}
.favorcombcont .fctl ul li a:hover{text-decoration:underline;color:#f08b0c;}
.favorcombcont .fctl li a.pic img{width:175px;height:150px;}


/*商品介绍*/

.gdmsg {float: left;margin-bottom: 20px;width:990px;}
.gdmsg_tab {background-color: #ffffff;    border: 1px solid #e5e5e5; box-shadow: 1px 1px 2px rgba(221, 221, 221, 0.6);height: 40px;}
.gdmsg_tab .des_tabbox {background-color: #ffffff;float: left;}
.gdmsg_tab li {color: #333;font: 14px/50px '微软雅黑';height: 100%;}
.gdmsg_tab .des_tabbox .tab {width: 110px;}
.gdmsg_tab .tab {border-right: 1px solid #e1e1e1;color: #333;
    float: left;font-family: 'microsoft yahei';font-size: 14px;height: 42px;left: -1px;
    line-height: 40px;outline: 0 none;position: relative;text-align: center;top: -1px;width: 120px;z-index: 30;}
.gdmsg_tab .cur { background-color: #00a93d; color: white;}
.gdmsg_tab .tab em {color: #ff3c00;font-family: tahoma;font-size: 12px;}
.gdmsg .gdmsgcont {padding: 25px; width: 940px;}
.dtl718 {float: left;padding-bottom: 10px;width: 718px;}
.gdmsgcont1 {padding-top: 10px;}
.gdparameter {width:990px;}
.gdparameter td.hd {background-color: #f2f2f2;color: #333;font-weight: bold;text-align: center;}
.gdparameter td {border: 1px solid #ddd;color: #333;height: 35px;line-height: 35px;}
.gdparameter td.left {padding-right: 10px;text-align: right; width: 185px;}
.gdparameter td.right {padding-left: 10px;text-align: left;  width:780px;}
.gdshfw {padding-top: 10px;}



.gdcomment {border: 1px solid #dddddd;float: left;padding:0; width: 988px;border-top:2px solid #659a32;}
.gdcomment .zi {font-family: 微软雅黑;line-height: 35px; font-size:14px; background:#f7f7f7; padding-left:20px;}
.gdcomment .title {border-bottom: 1px solid #dddddd;height: 36px; padding-top: 4px;width:990px;}
.gdcomment-1 {height: 60px;padding: 26px 0;width:900px;}
.gdcomment-1 .rate {border-right: 1px solid #e4e4e4;float: left;height: 40px;padding: 10px 0;text-align: center;width:400px; color:#8b8a8a; }
.gdcomment-1 .rate strong {color: #ff3c00;font-family: arial;font-size: 34px;line-height: 36px;}
.gdcomment-1 .percent {float: left;height: 60px;padding: 0 3px 0 15px;width: 300px;}
.gdcomment-1 .percent dl {display: inline;float: left;margin-bottom: 10px;overflow: hidden;width: 300px;}
.gdcomment-1 .percent dt, .percent dd {float: left;font-family: 宋体;margin-right: 5px;}
.gdcomment-1 .percent .d1 {background-color: #efefef;height: 12px;overflow: hidden;width: 150px;}

.pags {float: right;line-height: 26px; width:800px;}
.pdr15 { padding-right: 15px;}
.ml10 {margin-left: 10px;}
.butn16 {height: 26px;width:66px; background:url(1_34.gif) ; border:0px;}
.pags .pagtext {border: 1px solid #efefef;color: #666;height: 20px;line-height: 20px;margin: 0 5px;padding: 2px 0;text-align: center;width: 26px;}
.pdr15 {
    padding-right: 15px;
}

div.digg {
    float: right;
    line-height: 24px;
    padding-right: 10px;
    text-align: right;
}
DIV.digg a.disabledl02 {
    background: url("../images/digg_left01.gif") no-repeat scroll 6px 8px rgba(0, 0, 0, 0);
    border: 1px solid #efefef;
    color: #b5b5b5;
    height: 24px;
    margin: 0 4px;
    padding: 0 0 0 10px;
    width: 50px;
}
DIV.digg A {
    border: 1px solid #efefef;
    color: #666;
    display: block;
    float: left;
    height: 24px;
    margin: 0 4px;
    text-align: center;
    text-decoration: none;
    width: 26px;
}

DIV.digg SPAN.current {
    background-color: #ff3c00;
    border: 1px solid #efefef;
    color: #fff;
    display: block;
    float: left;
    font-weight: bold;
    height: 24px;
    margin: 0 4px;
    text-align: center;
    width: 26px;
}


DIV.digg a.dian, DIV.digg a.dian:hover {
    border: 0 none;
    color: #666;
    display: block;
    float: left;
    height: 24px;
    margin: 0;
    text-align: center;
    text-decoration: none;
    width: 26px;
}

DIV.digg a.disabledr {
    background: url("../images/digg_right01.gif") no-repeat scroll 50px 8px rgba(0, 0, 0, 0);
    border: 1px solid #efefef;
    color: #666;
    height: 24px;
    margin: 0 4px;
    padding: 0 10px 0 0;
    width: 50px;
}


.quantity {float: left;width: 152px; }
.quantity p {float: left;line-height: 16px;margin-top: 3px;font-size: 14px;}
.quantitya img {border: 0 none;}
.quantity img {font-size: 14px;vertical-align: middle;}
.quantity .dow { background: url(dy_03.gif) no-repeat 0px 0px; margin-right:: 5px}
.quantity .up { background: url(dy_05.gif) no-repeat 0px 0px; margin-right:: 5px}
.quantity .mt0 { margin-top: 0 !important;}
.quantity .textgt_n {border: 1px solid #dadada;display: inline;float: left;font-size: 14px;
    height: 14px;line-height: 14px;margin: 0 2px;padding: 3px;text-align: center;width: 22px;}

.banner01 a{width:990px; height:105;}


/*列表内容*/
.list_tit {float: left;margin-top: 15px;width:990px;}
.list_tit h1 {float: left;font: 400 28px "微软雅黑" ; margin-right: 20px;line-height: 28px;}
.list_tit .eb6100 {color: #999;line-height: 28px;margin-top: 2px;}
.list_tit .eb6100 span {color: #ff3c00; padding: 0 3px;}
.sort {border: 1px solid #dcdcdc; margin-top: 15px;width:990px;}
.pxlist, .pxlist dt, .pxlist dd { height:35px;line-height:28px;}
.sort dl {overflow: hidden;padding: 10px 5px 7px;width: 960px; font-size:14px;}
.sort dl dt {float: left; font-size:14px;}
.sort dl dd {float: left;overflow: hidden;position: relative;white-space: nowrap; width:900px;font-size:14px; height:35px;}
.price-2 {float: left;height:28px;line-height:28px;margin: 0;width: 260px;}
.price-2 a.on {background-color: #fdf7eb;border: 1px solid #eb6100;color: #eb6100;}
.price-2 a.listup {background:url(jt_07.gif)) no-repeat scroll 5px 8px rgba(0, 0, 0, 0);border: 1px solid #ddd;color: #333;display: inline-block;float: left;    height: 28px;margin-right: 2px;padding-left: 20px;width: 50px;}
.pags1 {float: right;line-height: 35px; width:200px;}
div.diggtop {float: right;padding-right: 10px;text-align: right;}
.p0 {padding: 0 !important;}
div.diggtop span.current {background-color: #f9f9f9;border: 1px solid #efefef;color: #b5b5b5;margin: 0 4px;padding: 2px 5px;}
div.diggtop a {border: 1px solid #efefef;color: #666;margin: 0 4px;padding: 2px 5px;text-decoration: none;}
.listgooods {margin-bottom: 25px; }
.listgooods ul {height:380px;padding: 25px 0;}
.listgooods ul li {border-right: 1px solid #ddd;display: inline;float: left;height:380px;padding: 0 19px;position: relative;width: 208px;}
.img150150 {height: 196px;width: 196px;}
.listgooods ul li .name {height: 54px;line-height: 18px;overflow: hidden;}
.listgooods ul li .name a {color: #333;}
.listgooods ul li .price {color: #ff3c00;font-family: "Microsoft YaHei";font-size: 16px;font-weight: bold;margin-top: 10px;padding-bottom: 10px; line-height:24px;}
.listgooods ul li .price font {color: #999;font-weight: 400;font-size:14px; line-height:24px; text-decoration: line-through;}
.listgooods ul li .price span {color: #999;font-weight: 400;font-size:12px; line-height:24px; float:right;}


/*特别推荐*/
.listgooods .hot {height: 54px;line-height: 18px;overflow: hidden;}
.listgooods .hot a {color: #333;}
.listgooods .jg {color: #ff3c00;font-family: "Microsoft YaHei";font-size: 16px;font-weight: bold;margin: 4px 0px;line-height:24px;}
.listgooods .jg span {color: #999;font-weight: 400;font-size:14px; line-height:24px; text-decoration: line-through;float:right; }




.textgt {border: 1px solid #dadada;display: inline;float: left;font-size: 14px;height:20px;line-height:20px;margin-right: 5px;padding: 3px;text-align: center;width: 25px;}
.onup {display: inline;float: left;height: 20px;margin-right: 5px;margin-top: 5px;width: 8px;}
.onup .up, .onup .dow {background:url(arrow4.gif) no-repeat scroll 0 0 rgba(0, 0, 0, 0);cursor: pointer;display: inline-block;float: left;height:8px;margin-bottom: 2px;overflow: hidden;width:13px;}
.onup .dow {background: url(arrow4.gif) no-repeat scroll 0 -10px rgba(0, 0, 0, 0);}
.butn1 {background-position: 0 0;height:26px;width: 76px; background: url(2_11.png) no-repeat; border:none;}
.listgooods ul li a.sclist {color: #929292;display: inline-block;float: left;margin-left: 5px;margin-top: 8px;width: 25px;}
.line { border-bottom: 1px solid #dcdcdc;clear: both;height: 0;overflow: hidden;}