@charset "utf-8";
/* CSS Document */


.first_part{ background:#edf2e0;}
.first_part .wrapper{ background:#fff;}
.left_bar{ width:194px;}
.middle{ width:741px;}
.right_bar{ width:260px;}

.gonggao,.fuwu{ padding:10px;}
.title1{ line-height:33px; border-bottom:1px solid #000; padding:0 3px; color:#00a93c; font-size:14px; font-weight:bold;}
.title1 span a{ font-size:12px; font-weight:normal;}
.gonggao_list{ padding-top:10px;}
.gonggao_list li{ background:url(icons.png) -75px -71px no-repeat; line-height:28px; padding-left:15px; font-size:14px;}

.fuwu_tags{ padding-top:11px;}
.fuwu_class{ width:34px; float:left; padding:13px;}
.fuwu_class a{ display:block; padding-top:40px; background:url(icons.png) no-repeat; text-align:center; font-family:"微软雅黑", "黑体";}
.fuwu_class .weixiu{ background-position:-34px 0;}
.fuwu_class .fanxin{ background-position:-68px 0;}
.fuwu_class .jiaju{ background-position:-102px 0;}
.fuwu_class .jiaotong{ background-position:-136px 0;}
.fuwu_class .jiaoyu{ background-position:-170px 0;}
.fuwu_class .jinrong{ background-position:-204px 0;}
.fuwu_class .qita{ background-position:-238px 0;}
.gray{ background:#f5f9ed;}

.second_part{ padding:15px 0;}
.title2{ line-height:44px; text-align:center; font-size:16px; font-family:"微软雅黑", "黑体";}
.title2 a{ text-decoration:none;}
.xianshi .title2{ background:url(icons.png) no-repeat center -248px;}
.xianshi .title2 a{ color:#00a93c;}
.sale_goods{ padding:0 16px 16px; color:#8b8a8a; background:#e9e9e9;}
.sale_goods .time{ line-height:52px; text-align:center;}
.sale_goods .time span{ color:#ff3c00; font-size:18px; font-family:"微软雅黑", "黑体";}
.sale_goods .pic{padding: 5px 0;}
.sale_goods .name{ height:45px;}
.sale_goods .name a{ display:block; line-height:18px; padding:7px 0; color:#8b8a8a;}
.price a{ display:block; font-size:16px; color:#ff3c00; font-family:"微软雅黑", "黑体"; line-height:28px;}
.price a .old_price{ float:right; color:#8b8a8a; text-decoration:line-through;}

.sales{ padding-left:18px;}
.middle .title2{ width:241px; }
.middle .title2 a{ display:block; background:url(icons.png) no-repeat center -336px; width:241px; color:#8b8a8a;}
.middle .title2 a:hover,.middle .recent a,.recent,.recent a{ background:url(icons.png) no-repeat center -292px; color:#ff3c00;}
.middle .sales .good li{ display:block; width:194px; float:left; padding:23px; position:relative;}
.middle .sales .good li .name{ line-height:18px; padding:14px 0 6px; height:35px;}
.middle .sales .good li .new_tag{ width:64px; height:64px; position:absolute; background:url(icons.png) no-repeat 0 -81px; text-indent:-99999999px; top:15px; right:15px;}
.right_bar .sale_goods{ padding:0 23px; background:none;}
.right_bar .sale_goods .name a{ line-height:18px; padding:7px 0;}

.part_3{ border-bottom:1px solid #e9e9e9; padding-bottom:10px;}
.title3{ font-size:26px; font-family:"微软雅黑", "黑体"; text-align:center; color:#fff; line-height:47px;}
.green_bg{ background:#00a93c;}
.green_top{ border-top:2px solid #00a93c;}
.red_bg{ background:#ff3c00;}
.red_top{ border-top:2px solid #ff3c00;}
.box_1{ padding-bottom:15px;}
.nav{ background:#e9e9e9; padding:20px 0 0; height:300px;}
.nav li{ float:left; width:80px; padding-left:17px; line-height:28px;}
.nav li a{ font-weight:bold; color:#7e7e7e; font-size:14px;}
.nav .sec_title{ font-size: 16px; font-weight: bold; color: #666;}
.part_3 .sales li{ display:block; float:left; width:340px; padding:20px 10px 10px;}
.part_3 .sales li .left{width:160px; padding:0 10px;}
.part_3 .sales li .right{ width:145px; padding-top:15px;}
.part_3 .sales li .name{  line-height:18px; height:100px;}
.right_ad{ position:relative; width:241px;}
.tuijian{ position:absolute; height:66px; padding:15px 50px; width:141px; top:253px; left:0px; text-align:center; background:url(icons.png) repeat-x 0 -148px;}
.tuijian h1{ font-family:"微软雅黑", "黑体"; font-size:21px; border-bottom:1px solid #000; padding-bottom:8px; font-weight:bold;}
.tuijian p{ line-height:33px; font-size:14px;}

.part_4{ padding:23px 0 100px;}
.title4{ line-height:45px; font-family:"微软雅黑", "黑体"; font-size:16px; color:#fff; text-indent:20px;}
.title4 a,.title4 a:hover{color: #ffffff; text-decoration: none;}
.blue_bg{ background:#0bc6d3;}
.purple_bg{ background:#921a8a;}
.other_part li{ float:left; width:279px; padding-right:27px;}
.other_part .last{ padding-right:0px;}
.other_part li h1{ display:block; background:#f8f8f8; padding-left:15px;}
.other_part li h1 a{ line-height:35px; font-family:"微软雅黑", "黑体"; font-size:14px;}

/*-------------侧导航------------------*/
.side_tag{ position:fixed; right:50%; width:38px; margin-right:620px; top:385px; z-index:333;}
.side_tag li{ padding-bottom:5px;}
.side_tag li a{ display:block; width:26px; padding:5px; border:1px solid #dedede; background:#f7f7f7;}
.side_tag li a:hover{ background:#fdeeee; border-color:#ed5759; color:#ed5759; text-decoration:none;}
.side_tag .go_user a{ background:url(icons.png) no-repeat -1px -412px; text-indent:-99999999px; height:26px; overflow:hidden;}
.side_tag .go_user a:hover{ text-indent:0px;}
.side_tag .go_top a{ background:url(icons.png) no-repeat -98px -412px; text-indent:-99999999px; height:26px; overflow:hidden;}
.side_tag .go_top a:hover{ text-indent:0px;}
/*-------------侧导航------------------*/