@charset "utf-8";
/* CSS Document */

/*------翻页----------*/
.flips li{ float:left; text-align:center; width:40px; line-height:40px; height:40px; padding:0 5px;}
.flips{ float:right; padding-bottom:20px;}
.flips li a{ display:block; border:1px solid #ccc; color:#ccc; font-size:14px;}
.flips li a:hover,.flips li .recent{ background:#ff3d00; border:1px solid #ff3d00; color:#333; text-decoration:none;}
/*------翻页----------*/

/*---------订单中心-----------*/
.order_class{ height:35px; border-bottom:2px solid #ccc;}
.order_class li{ float:left; width:120px; text-align:center; line-height:35px;}
.order_class li a{ display:block; font-size:16px; font-family:"微软雅黑", "黑体";}
.order_class li a span{ padding-left:5px; color:#ff3d00;}
.order_class li a:hover,.order_class li .selected{ border-bottom:2px solid #ff3d00; text-decoration:none; color:#ff3d00;}

.order_form{ padding:20px 0;}
.order_form table{ margin-bottom:15px; border-bottom:1px solid #e8e8e8; padding-bottom:5px;}
.order_form table .order_number{ width:415px; text-indent:24px;}
.order_form table .all_price,.order_form table .send_price,.order_form table .create_date{ width:117px; text-align:center;}
.order_form table .state{ width:107px; text-align:center;}
.order_form table .option{ width:127px; text-align:center;}
.order_form table td{ line-height:30px; font-size:14px;}
.order_form .title td{ text-align:center; text-indent:0;}
.order_form .title{ background:#efefef; border:none; padding:0;}
.order_form table .ckxq{ display:block; width:80px; background:#00a93c; height:30px; line-height:30px; color:#fff; margin-left:23px;}
.order_form table .pay_bill,.order_form table .ckwl{ display:block; width:80px; background:#ff3d00; height:30px; line-height:30px; color:#fff; margin-left:23px;}
/*---------订单中心-----------*/

/*---------订单detail-----------*/
.infor_title{ line-height:45px; text-align:center; width:80px;}
.order_detail .title{ line-height:40px; font-size:16px; margin:10px 0; background:#efefef; padding-left:10px; font-weight:bold; border-bottom:2px solid #ff3d00;}
.order_detail .product_list td{ padding:15px 0; border-bottom:1px solid #ccc;}
.order_detail .product_list .bottom_price td{ border:none;}
.order_detail .product_list .list_title td{ line-height:45px; padding:0;}
.order_detail .product_list .list_title .product_name{ width:500px;}
.order_detail .product_list .product_name{ width:375px; line-height:24px; padding-right:15px;}
.order_detail .product_list .product_pic{ padding:15px;}
.order_detail .product_list .product_fullprice,.order_detail .product_list .product_cutprice,.order_detail .product_list .product_finalprice,.order_detail .product_list .product_operation{ width:80px; text-align: center;}
.order_detail .product_list .product_num,.order_detail .product_list .product_unit{ width:50px; text-align: center;}
.order_detail .product_list .product_operation a{ display:block; background:#00a93c; color:#fff; height:30px; line-height:30px; color:#fff; margin:0 10px; width:60px;}
.order_detail .product_list .product_operation a:hover{ text-decoration:none;}
/*---------订单detail-----------*/

/*----------地址管理--------------*/
.add_list td{ height:50px; vertical-align:middle; border-bottom:1px solid #efefef;}
.add_list .add_title td{ background:#efefef; border-bottom:1px solid #00a93c; text-align:center;}
.add_list .receive_id{ width:100px;text-align:center;}
.add_list .add_title .address{ width:500px;}
.post_code,.mobile,.home_tel,.opretion{ width:100px; text-align:center;}
.opretion span,.add_new dt span{ color:#ff3d00;}
.add_new{ padding:25px; border:1px dashed #ccc; width:770px;}
.add_new dl{ padding:10px 0;}
.add_new dt{ float:left; width:80px;}
.add_new dl .adr_prompt{ margin-left:80px; padding-top:10px;}
/*----------地址管理--------------*/

/*-----------账户信息修改--------------*/
.change_info{ padding:20px 0 20px 150px;}
.change_info .label{ width:80px;}
.change_info td{ line-height:46px;}
.change_info .input_box,.change_info .input_number{	background:#f9f9f9;	/* [disabled]border-bottom:1px solid #a0e0b7; */line-height:30px;height:30px;width:300px;text-indent:5px;}
.change_info .btns{ height:30px; padding:25px 0 15px 10px;}
.change_info .btns input{ border:none; background-color:#00a93c; color:#fff; height:30px; line-height:30px; width:80px; margin-right:30px;}
/*-----------账户信息修改--------------*/

/*-----------我的收藏-------------*/
.faver_list li{ float:left; width:200px; text-align:center; padding:18px; line-height:30px;}
.faver_list li .faver_title{ height:30px; overflow:hidden; display:block;}
/*-----------我的收藏-------------*/

/*---------商品评价-----------*/
.comment_zone{ padding:20px 200px;}
.comment_zone .right_part{ width:670px;}
.comment_zone .right_part .star_zone{ padding:5px 0;}
.comment_zone .right_part .star_zone .star{ padding:5px 0;}
.comment_zone form{ padding-top:10px; border-top:1px dashed #ccc; margin-top:10px;}
.vote{ padding-bottom:15px;}
.vote label{ padding-right:15px; padding-left:5px;}
.comment_submit{ padding:10px 0; text-align:center;}
.comment_submit input{  border:none; width:80px; height:40px; line-height:40px; background:#00a93c; color:#fff; font-size:16px;}
/*---------商品评价-----------*/