#div_top{width:100%;height:35px;background:#868DA2;}
#div_top .top_left{ float:left; }
#div_top .top_right{ float:right; line-height: 35px; padding-right: 5px; color:#ffffff; }
#div_top .top_right a{ color:#ffffff; }
#div_progress{width:100%;height:2px;background:#ffffff;}
#div_progress_img{position:absolute;}
/* main_content */
#div_main_content {width:100%;overflow:hidden;background:#eaeaea;}
#div_left_panel {width:180px;min-width:180px;overflow:hidden;}
#div_left_panel .header{width:100%;}
#div_left_panel .ha{height:29px; line-height:29px;font-size:15px;color:#ffffff;cursor:pointer;display:block;background:#868DA2;border-bottom:1px solid #ffffff;}
#div_left_panel .ha:hover {background:#868DA2;color:#ffffff;}
#div_left_panel .ha.selected {background:#868DA2;color:#ffffff;}
#main_content .vsplitbar{width:2px;cursor:e-resize;cursor:col-resize;background:#ffffff;}


#div_right_pane {width:100%;background:#f5f5f5;}
#div_right_nav{width:100%;background:#C8CBD5;height:29px;padding-left:10px;}
#div_right_nav .site_name{float:left;width:250px;color:#ffffff;font-size:14px;font-weight:bold;line-height:25px;text-indent:6px;background:url(right2.jpg) right center no-repeat;}
#div_right_nav .channel_name{float:left;width:320px;color:#ffffff;nt-size:14px;font-weight:bold;line-height:25px;text-indent:6px;}
#div_right_nav .select_template{float:right;width:220px;font-size:14px;font-weight:bold;line-height:25px;text-indent:6px;}
#div_right_btn{height:37px;padding-left:8px;}
#div_right_btn img{margin-top:4px;margin-left:4px;cursor:pointer;}


#left_site{width:100%;height:26px;background:#C8CBD5;}
#left_site .left{float:left;padding-left:3px;padding-top:3px;}
#left_site .mid{float:left;}
#left_site .right{float:right;}


.btn_select_site_normal{width:22px;height:20px;margin-top:3px;background:#E1E2E8 url(selectsitebg.jpg) no-repeat;cursor:pointer;position:absolute;}
.btn_select_site_clicked{width:22px;height:20px;margin-left:112px;margin-top:3px;background:#E1E2E8 url(selectsitebg2.jpg) no-repeat;cursor:pointer;position:absolute;}


#site_manage{cursor: pointer;}
#div_now_selected_site{width:108px;height:20px;line-height:20px;background:#E1E2E8;padding-left:4px;cursor:pointer;overflow:hidden;}
#div_select_site_list{width:130px;line-height:20px;background:#E1E2E8;padding-left:4px;cursor:pointer;overflow:hidden;position:absolute;}
.select_site_item{width:130px;height:20px;line-height:20px;overflow:hidden;}
#div_manage_menu_of_column{overflow:auto;}


#div_task_manage{width:100%;}
#div_task_manage .title{text-indent:10px;font-weight:bold;font-size:12px;}
#div_task_manage .taskline1{cursor:pointer;line-height:22px;margin:0 30px;text-indent:24px;font-size:12px;background: url(task1.jpg) no-repeat left center;}
#div_task_manage .taskline2{cursor:pointer;line-height:22px;margin:0 45px;text-indent:24px;font-size:12px;background: url(task2.jpg) no-repeat left center;}
#div_task_manage .taskline3{cursor:pointer;line-height:22px;margin:0 45px;text-indent:24px;font-size:12px;background: url(task2.jpg) no-repeat left center;}
#div_task_manage .taskline4{cursor:pointer;line-height:22px;margin:0 45px;text-indent:24px;font-size:12px;background: url(task2.jpg) no-repeat left center;}

#div_system_config { font-size: 12px; color:#000;}
#div_system_config .line{line-height: 20px ;background: url(sys.gif) no-repeat left center; text-indent: 25px;border-bottom:1px dashed #cccccc; margin:0 30px;}
#div_system_config span{ cursor: pointer;font-size: 12px; color:#000;}

#userconfig { font-size: 12px; color:#000;}
#userconfig .line{line-height:20px;text-indent: 25px;border-bottom:1px dashed #cccccc; margin:0 30px;}
#userconfig span{ cursor: pointer;font-size: 12px; color:#000;}

#voteconfig { font-size: 12px; color:#000;}
#voteconfig .line{line-height:20px;text-indent: 25px;border-bottom:1px dashed #cccccc; margin:0 30px;}
#voteconfig span{ cursor: pointer; font-size: 12px; color:#000;}

#visitconfig { font-size: 12px; color:#000;}
#visitconfig .line{line-height:20px;text-indent: 25px;border-bottom:1px dashed #cccccc; margin:0 30px;}
#visitconfig span{ line-height:20px;text-indent: 25px;border-bottom:1px dashed #cccccc; cursor: pointer;font-size: 12px; color:#000;}

#div_user_manage { font-size: 12px; color:#000;}
#div_user_manage .line{line-height:20px;text-indent: 3px;border-bottom:1px dashed #cccccc; margin:0 30px;cursor: pointer;}
#div_user_manage span{ cursor: pointer;font-size: 12px; color:#000;}

#div_search { font-size: 12px; color:#000;}
#div_search .line{line-height:20px;text-indent: 3px;border-bottom:1px dashed #cccccc; margin:0 30px;cursor: pointer;}
#div_search span{ cursor: pointer;font-size: 12px; color:#000;}

#div_forum_manage { font-size: 12px; color:#000;}
#div_forum_manage .line{line-height:20px;border-bottom:1px dashed #cccccc; margin:0 20px;}
#div_forum_manage span{ cursor: pointer;font-size: 12px; color:#000;}




#right_menu{
    position:absolute; 
    visibility:hidden;
    background:url(cm_bg.jpg) #E6E8EC repeat-y;
    border: 1px solid #ffffff;
    width:120px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    font-size: 14px;
    z-index:999;

}

#right_menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

#right_menu li{
    margin: 0;
    padding: 3px;
    background-repeat:no-repeat;
    line-height: 120%;
}
#right_menu ul{
    display: block;	    
    text-decoration: none;
    color: #000;       
}
#right_menu span{padding:1px 5px;margin-left:32px;color:#52596B;cursor:pointer;}

#right_menu ul li span:hover, #right_menu ul li span:focus {
    color: #FFFFFF;
    background-color:#3165CE;
}

.separator{border-bottom:1px solid #a5a6a5;}


#right_menu li.cm_add_doc{background-image: url(cm_adddoc.jpg);  }
#right_menu li.cm_view_doc{background-image: url(cm_viewdoc.jpg);}
#right_menu li.cm_pub_channel{background-image: url(cm_pub_quick_channel.jpg); }
#right_menu li.cm_edit_channel{}
#right_menu li.cm_pro_channel{background-image: url(cm_pro_channel.jpg); }

#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
#sortable li span { position: absolute; margin-left: -1.3em; }
#tabs li .ui-icon-close { float: left; margin: 0 0 0 0; cursor: pointer; }
