#topnav .content{width:1400px;}

#forum_nav .content{width:1400px;}
#forum_bul .content{width:1398px;}

#forum_rec_1 .content{width:1400px;}

#forum_list .content{width:1400px;}
#forum_list .forum_two_item{width:430px;}
#forum_list .forum_two_item2{width:430px;}
