#top_nav .content{width:1000px;}

#forum_nav .content{width:1000px;}
#forum_bul .content{width:998px;}

#forum_rec_1 .content{width:1000px;}
#forum_rec_1 .new_pic_topic{width:300px;}
#forum_rec_1 .new_topic{width:200px;overflow:hidden;}
#forum_rec_1 .hot_topic{width:200px;overflow:hidden;}
#forum_rec_1 .best_topic{width:200px;overflow:hidden;}

#forum_rec_1_v .content_v{width:270px;}
#forum_rec_1_v .new_topic{overflow:hidden;}
#forum_rec_1_v .hot_topic{overflow:hidden;}
#forum_rec_1_v .best_topic{overflow:hidden;}

.img_avatar{max-width:40px;max-height:40px;width:40px;height:40px;}

#forum_list .content{width:1000px;}
#forum_list .forum_two_item2{width:473px;overflow:hidden;} /** 一排两个 **/
#forum_list .forum_two_item3{width:330px;overflow:hidden;} /** 一排三个 **/
#forum_list .forum_two_item4{width:240px;overflow:hidden;} /** 一排四个 **/
#forum_list .forum_two_item5{width:190px;overflow:hidden;} /** 一排5个 **/
#forum_list .forum_two_item5 img{width:247px;} /** 一排5个 **/

#forum_list .ul_topic_list_2 li{width:473px;} /** 一排两个 主题宽度 **/
#forum_list .ul_topic_list_3 li{width:326px;} /** 一排三个 主题宽度 **/
#forum_list .ul_topic_list_4 li{width:213px;} /** 一排四个 主题宽度 **/
#forum_list .ul_topic_list_5 li{width:183px;} /** 一排5个 主题宽度 **/

#forum_topic .content{width:1000px;}
#forum_topic .left{width:700px;}
#forum_topic .right{width:280px;}

#forum_post .content{width:1000px;}
#forum_post .left{width:700px;}
#forum_post .forum_post_content img{max-width: 650px;}
#forum_post .right{width:280px;}